# ======================
# Visual Studio Code
# ======================
.vscode/
.history/
*.code-workspace

# ======================
# Haskell (GHC, Stack, Cabal)
# ======================
dist/
dist-newstyle/
.cabal-sandbox/
.stack-work/
*.hi
*.o
*.exe
*.out
*.app
*.dll

# ======================
# Archivos temporales / de compilación
# ======================
*.log
*.tmp
*.bak
*.swp
*.swo

# ======================
# LaTeX (ignorar todo lo generado excepto .tex y el pdf final)
# ======================
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.out
*.dvi
*.xdv
*.pdfsync
*.ilg
*.idx
*.ind
*.ist
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.loa
*.lop
*.los
*.thm
*.upa
*.upb
*.vrb